body{
  background-color: #1a1a1a;
}

.content {
  flex: 1;
  padding: 20px;
}

.account-form {
  background-color: #1a1a1a;
  border: 2px solid #f25d8e;
  padding: 20px;
  border-radius: 8px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

/* label {
  flex: 1;
  font-size: 1em;
}

input {
  flex: 2;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #f25d8e;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
 
} */

input:focus {
  outline: none;
  border-color: #f25d8e;
}

.side-by-side {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    margin-top: 100px;
    margin-right: 7rem;
    padding: 20px;
    overflow-x: auto;
}

.profile-container {
  width: 600px;
  padding: 30px;
  border: 2px solid #ff4081;
  border-radius: 10px;
  margin: auto;
}

.profile-container p {
  margin: 20px 15px;
 background-color: none;
}

.profile-detail {
  margin: 15px 0;
  font-size: 16px;
}
.profile-detail strong {
  display: inline-block;
  width: 120px;
}
.edit-button {
  background-color: #d71957;
  color: white;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  width: 40%;
  font-weight: bold;
}
.edit-button:hover {
  background-color: #e6366f;
}



/* changes */
.form-container {
  border: 2px solid #d71957;
  margin: auto;
  width: 50vw;
  min-width: 600px;
  box-sizing: border-box;
  padding: 40px;
  color: white;
  overflow-y: auto;
  max-height: 85vh;
  border-radius: 8px;

}

.form-container label {
  display: flex;
  font-size: 1rem;
  margin-right: 10px;
  text-align: left;
  flex: 1;
  color: rgb(226, 223, 218);
}

.form-container input {
  width: 100%;
  padding: 12px;
  font-size: 13px;
  height: 6vh;
  border: 1px solid #de1658;
  background-color: rgba(59, 59, 59, 0.692);
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
  margin-top: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f25d8e;
}

.center-btn {
  display: flex; 
  justify-content: center; 
 gap: 50px;
 margin-top: 20px;
  
}

/* form {
  display: inline;
text-align: center;
flex-direction: column;
} */

